.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  gap: 30px;
}

.chart-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  height: 40vh;
  padding: 10px;
}
